<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.superfactory.sunyatsin">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".Context.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- <activity android:name=".Interface.BindingActivity.SplashActivity.SplashActivity"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->


        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity android:name=".Interface.BindingActivity.LoginActivity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Interface.BindingActivity.MainActivity.MainActivity" />
        <activity android:name=".Interface.BindingActivity.SettingsActivity.SettingsActivity" />
        <activity android:name=".Interface.BindingActivity.AccountActivity.AccountActivity" />
        <activity android:name=".Interface.BindingActivity.CompellationActivity.CompellationActivity" />
        <activity android:name=".Interface.BindingActivity.GenderActivity.GenderActivity" />
        <activity android:name=".Interface.BindingActivity.PasswordActivity.PasswordActivity" />
        <activity android:name=".Interface.BindingActivity.QuestionnaireActivity.QuestionnaireActivity" />
        <activity android:name=".Interface.BindingActivity.QuestionnaireDetailActivity.QuestionnaireDetailActivity" />
        <activity android:name=".Interface.BindingActivity.MessageActivity.MessageActivity" />
        <activity android:name=".Interface.BindingActivity.MessageDetailActivity.MessageDetailActivity" />
        <activity android:name=".Interface.BindingActivity.NoteByDayActivity.NoteByDayActivity" />
        <activity android:name=".Interface.BindingActivity.NoteDetailOrAddActivity.NoteDetailOrAddActivity" />


        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".Interface.FuckingCode.TakePhoto" />

        <!--<provider-->
        <!--android:name="android.support.v4.content.FileProvider"-->
        <!--android:authorities="${applicationId}.provider"-->
        <!--android:exported="false"-->
        <!--android:grantUriPermissions="true">-->
        <!--<meta-data-->
        <!--android:name="android.support.FILE_PROVIDER_PATHS"-->
        <!--android:resource="@xml/file_paths" />-->
        <!--</provider>-->
    </application>

</manifest>