<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.superfactory.sunyatsin">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".Context.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- <activity android:name=".Interface.BindingActivity.SplashActivity.SplashActivity"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->


        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity android:name=".Interface.BindingActivity.LoginActivity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Interface.BindingActivity.MainActivity.MainActivity" />
        <activity
            android:name=".Interface.BindingActivity.SplashActivity.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".Interface.BindingActivity.SplashActivity.SettingsActivity"
            android:label="@string/title_activity_settings"></activity>
        <activity android:name=".Interface.BindingActivity.SettingsActivity.SettingsActivity" />
        <activity android:name=".Interface.BindingActivity.AccountActivity.AccountActivity" />
        <activity android:name="com.superfactory.sunyatsin.Interface.BindingActivity.CompellationActivity.CompellationActivity" />
        <activity android:name="com.superfactory.sunyatsin.Interface.BindingActivity.GenderActivity.GenderActivity" />
        <activity android:name=".Interface.BindingActivity.PasswordActivity.PasswordActivity" />
        <activity android:name=".Interface.BindingActivity.QuestionnaireActivity.QuestionnaireActivity" />
        <activity android:name="com.superfactory.sunyatsin.Interface.BindingActivity.QuestionnaireDetailActivity.QuestionnaireDetailActivity" />
    </application>

</manifest>